VITE_SUPABASE_URL=https://ioojdmerropjhoaazrez.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX
VITE_TURNSTILE_SITE_KEY=your_cloudflare_turnstile_site_key
VITE_SUPPORT_EMAIL=a.moeed1875@gmail.com
VITE_LEGAL_OPERATOR_NAME=Abdul Moeed
VITE_PUBLIC_SIGNUP_ENABLED=false
VITE_GOOGLE_AUTH_ENABLED=false
